body {
	background-color: #eee;
	font-family: 'Montserrat', sans-serif;
}

body h1,h2,h3,h4,h5,h6{
	font-weight: bold;
}

.nav-item a{
	margin-right: 10px;
}

.nav-item.active{
	font-weight: 600;
}

.carousel-item{
  height: 90vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item .carousel-caption a{
	color: #ccc;
	border: none;
}

.carousel-caption h5{
	margin-bottom: 20px;
	text-shadow: 1px 1px 0.5px black;
}

.carousel-caption:hover h5{
	color: white;
	margin-bottom: 25px;
}

.tombol{
	border-radius: 35px;
	font-weight: 600;
	text-transform: uppercase;
}

section span.info{
	color: white;
	font-weight: 600;
	padding: 5px 100px;
	border-radius: 35px;
	background-color: #007bff;
	text-transform: uppercase;
}

section.loker span.info{
	padding: 5px 50px;
}

.card .card-body a{
	color: #222;
}

.card .card-body a:hover{
	color: #007bff;
}

footer {
	background-color: #007bff;
	margin-top: 100px;
}