body {
	background-color: #e4e4e4;
	font-family: 'Montserrat', sans-serif;
}

body h1,h2,h3,h4,h5,h6{
	font-weight: bold;
}

.navbar-brand img{
	width: 150px;
}

.nav-item a{
	margin-right: 10px;
}

.nav-item.active{
	font-weight: 600;
}

.jumbotron{
	background-position: center;
	background-size: cover;
	color: white;
	height: 100vh;
	text-shadow: 2px 2px 0.8px #222;
}

.jumbotron .display-4, p.lead, .input-group{
	font-weight: 600;
	transform: translateY(150px);
}

.carousel-item{
  height: 90vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item .carousel-caption a{
	color: #ccc;
	text-decoration: none;
}

.carousel-caption h5{
	margin-bottom: 20px;
	text-shadow: 1px 1px 0.5px black;
}

.carousel-caption:hover h5{
	color: white;
	transform: translateY(-5px);
}

.tombol{
	border-radius: 35px;
	font-weight: 600;
	text-transform: uppercase;
}

section span.info{
	color: white;
	font-weight: 600;
	padding: 5px 0;
	text-align: center;
	width: 300px;
	border-radius: 35px;
	background-color: #007bff;
	text-transform: uppercase;
}

.berita a, .event a, .loker a, .belanja a{
	color: #212b1a;
}

.berita a:hover, .event a:hover, .loker a:hover, .belanja a:hover{
	color: #007bff;
	text-decoration: none;
}

.footer {
	background-color: #007bff;
	color: white;
	margin-top: 100px;
}

.footer img{
	width: 150px;
	margin-bottom: 5px;
}

.footer p{
	font-weight: 600;
	font-size: 0.8em;
}

.footer .media-social i{
	color: white;
	font-weight: 400;
	font-size: 2.5em;
	margin-right: 15px;
}

.media-social .fa-facebook-square:hover {
	color: #3b5998;
}
.media-social .fa-instagram:hover {
	background: -webkit-linear-gradient(red, blue);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.media-social .fa-youtube-square:hover {
	color: #bb0000;
}
.media-social .fa-twitter-square:hover {
	color: #00aced;
}

.nav-footer {
	background-color: yellow;
	font-weight: 600;
	font-size: 15px;
}

.nav-footer .nav-link {
	color: #212b1a;
	margin-left: -25px;
} 

.nav-footer .nav-link:hover {
	color: #007bff;
}

@media (max-width: 800px){
	
	.jumbotron .display-4{
		font-size: 2.0em;
	}

	.jumbotron p.lead{
		font-size: 1.0em;
	}

	.jumbotron .display-4, p.lead, .input-group{
		font-weight: 00;
		transform: translateY(130px);
	}
}